@media(max-width:1200px) {
    .container{
        width: 90%;
    }
    .textareawrapper {
        width: 65%;
    }
}

@media (max-width:1195px){
    .card{
        width: 30%;
        
    }
    .textareawrapper{
        width: 60%;
    }
    .user-wrapper{
        width: 35%;
}

@media (max-width:990px){
    .footnav-wrapper{
        width: 40%;
        justify-content: space-around;
    }
}

@media(max-width:860px){
    .textareawrapper{
        width: 60%;
    }

    .user-wrapper{
        width: 35%;
    }

    .card{
        width: 20%;
        
    }

    .myfooter{
        justify-content: space-around
    }
    
    .footnav-wrapper{
        display: none;
    }

    .bar{
        display: block;
    }
    
}

@media(max-width:750px){
    
    .footnavcontact{
        display: none;
    }
}

@media(max-width:550px){

    .contacts{
        gap: 50px;
    }
    .card{
        width: 40%;
        

    }
    

}
    