/* section 1 */
.s-1{
    margin-top: 20px;
    margin-bottom: 50px;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

}

.text{
    max-width: 340px;
    width: 100%;
    margin-bottom: 55px;
}
.text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #5863f8;
    margin-bottom: 7px;
}

.text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: normal;
    line-height: 56px;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.infuts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.f-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 50px; */
}

.textareawrapper{
    width: 720px;
    height: 288px;
   
}

.textareawrapper textarea{
    width: 100%;
    height: 288px;
    resize: none;
    padding: 20px;
    border: none;
    /* outline: none; */
}
.textareawrapper textarea:focus{
    background-color: aquamarine;
}



.user-wrapper {
    max-width: 352px;
    width: 100%;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-wrapper input{
    width: 100%;
    height: 60px;
    padding: 20px;    
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: black;
    border-radius: 5px;
    border: none;
}

.user-wrapper input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: black;
}

.user-wrapper input:focus{
    background-color: aquamarine;
}

.user-wrapper input[type= submit]{
    background-color:#5863F8;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    font-style: normal;
    color: #ffffff;
}

.user-wrapper input[type= submit]:hover{
    background-color: blue;
}

/* section 2 */
.s-2{
    margin-bottom: 100px;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

}

.card{
    max-width: 352px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
    
}

.card-card{
    width: 60px;
    height: 60px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.fa-location-dot{
    color: #ffffff;
    font-size: 25px;
}

.fa-phone{
    color: #ffffff;
    font-size: 25px;
}

.fa-envelope{
    color: #ffffff;
    font-size: 25px;
}

/* section 3 */

.s-3{
    margin-bottom: 10px;
}

.text-2{
    max-width: 543px;
    width: 100%;
    margin-bottom: 55px;
}

.text-2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #5863f8;
    margin-bottom: 7px;
}

.text-2 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: normal;
    line-height: 56px;
    font-style: normal;
    text-align: left;
    color: #000000;
}


.photo-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;


}

.photo{
    width: 352px;
    height: 352px;
}

/* footer */

footer{
    width: 100%;
    height: 395px;
    background-color: #121212;
}

.myfooter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.zetahotel{
    width: 260px;
    height: 188px;
    
}

.zetahotel h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 22px;
}

.zetahotel p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #b1b1b1;
}

.footnav-wrapper{
    max-width: 270px; 
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.footnav{
    height: 151px;
    display: flex;
    flex-direction: column;
   

}

.footnav h1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 23px;
}

.footnav a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #5863f8;
    line-height: 25px;
}


.footnavcontact{
    width: 235px;
    height: 151px;
    display: flex;
    flex-direction: column;
    
}

.footnavcontact h1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 23px;
}


.footnavcontact a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    line-height: 30px;
}

.footnavcontact .fa-envelope{
    color: #5863f8;
    font-size: large;
   
}

.footnavcontact .fa-phone{
    color: #5863f8;
    font-size: large;
   
}

.footnavcontact .fa-location-dot{
    color: #5863f8;
    font-size: large;
   
}